@using TestProjectApp.Models
@model Course

@{
    List<Semester> semesters=ViewBag.Semesters;
    List<Department> departments = ViewBag.Deapartments;

    ViewBag.MyName = "Save Course";
    Layout = "~/Views/CourseLayout.cshtml";
}

@section styles{

    <style>
        .savecourse {
            background: rgb(164,187,242);
            cursor: pointer;
            color: black;
            font-weight: bold;
        }

        label {
            font-size: 1.2em;
        }

        input {
            width: 400px;
            height: 30px;
        }
        select{
            font-size:1.1em;
        }


        td {
            width: 50%;
        }


    </style>
}

<center>

    <br /><br /><br/>

    <fieldset>
        <legend>Save Course</legend>
        <form id="myForm" method="post">

            <br/><br/><br/><br/>

            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Code)</td>
                    <td>@Html.TextBoxFor(m => m.Code)</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.Code)</td>
                </tr>

                <tr>
                    <td><br />@Html.LabelFor(m => m.Name)</td>
                    <td><br />@Html.TextBoxFor(m => m.Name)</td>

                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.Name)
                </tr>

                <tr>
                    <td><br />@Html.LabelFor(m => m.Credit)</td>
                    <td><br />@Html.TextBoxFor(m => m.Credit)</td>

                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.Credit)</td>
                </tr>

                <tr>
                    <td><br />@Html.LabelFor(m => m.Description)</td>
                    <td><br />@Html.TextAreaFor(m => m.Description)</td>

                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.Description)</td>
                </tr>

                <tr>
                    <td><br />@Html.LabelFor(m => m.DepartmentId)</td>
                    <td><br />@Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.Deapartments, "Id", "DepartmentName"), "--Select--", " ")
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.DepartmentId)</td>
                </tr>

                <tr>
                    <td><br />@Html.LabelFor(m => m.SemesterId)</td>
                    <td><br />@Html.DropDownListFor(m => m.SemesterId, new SelectList(ViewBag.Semesters, "Id", "SemesterName"), "--Select--", " ")
                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.ValidationMessageFor(m => m.SemesterId)</td>
                </tr>


                <tr>
                    <td></td>
                    <td><button type="submit">Save</button></td>
                <tr>
                <tr>
                    <td></td>
                    <td> @ViewBag.Message</td>
                </tr>
            </table>
        </form>
    </fieldset>
    </center>

@section scripts{


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>


    $("#myForm").validate({


        rules: {

            Code: {
                required: true,
                minlength: 5

            },
            Name: "required",
            Credit: {
                required: true,
                min: 0.5,
                max: 5,
                number: true
            },
            Description: "required",
            DepartmentId: "required",
            SemesterId: "required"

        },

        messages: {

            Code: {
                required: "<br/>Course Code is required",
                minlength: "<br/>Course code must be at least 5 characters long"
            },

            Name: "<br/>Please enter the course name",
            Credit: {
                required: "<br/>Please enter course credit",
                min: "<br/>Course credit should be at least 0.5",
                max: "<br/>Course credit cannot be more than 5.0",
                number: "<br/>Course credit must be number"
            },
            Description: "<br/>Please write a description of the course",
            DepartmentId: "<br/>Please select a department",
            SemesterId: "<br/>Please select a semester"

        }

    });


</script>



}